<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('lib/boostrap/bootstrap.min.css') }}">
        {% endblock %}
    </head>
    <body>
    {% for type, messages in app.session.flashBag.all  %}
        {% for message in messages %}
            {# pour la classe alert-danger du bootstrap #}
            {% if type == 'error' %}
                {% set type='danger' %}
            {% endif %}
            <div class="alert alert-{{ type }} mt-2">
                {{ message|raw }}
            </div>
        {% endfor %}
    {% endfor %}


    <div class="row">
        <div class="col-4">
            <h1>Avatar</h1>
        </div>
        <div class="col-8">
            <h1>College</h1>
        </div>

    </div>

    {% block body %}
    {% endblock %}



        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>


            <script src="{{ asset('lib/bootstrap/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
